{% extends "chemanager/layout.html" %}
{% load static %}

{% block body %}
<div class="container mb-4">
    <h2 class="page-title">logged as <span id="usernameTitle" data-userlabid="{{userLabId}}">{{ user }}</span></h1>
</div>


  <div class="container col-lg-5 mb-4">
    <dl class="row justify-content-center border border-primary p-2">
      
      <dt class="col-6 mb-4">Username</dt>
      <dd class="col-6"> 
        <textarea class="form-control edit-area" hidden rows="1">{{ user }}</textarea> 
        <div class="info">{{ user }}</div>
      </dd>
    
      <dt class="col-6 mb-4">Laboratory Number:</dt>
      <dd class="col-6">
        <select class="form-control edit-area" hidden>
          <option value="" {% if not lab %} selected {% endif %}>No laboratory</option>
          {% for lab in labs %}
          <option value="{{ lab.lab_number }}" {% if userLab == lab.lab_number %}selected{% endif %}>{{ lab.lab_number }}</option>
          {% endfor %}

        </select> 
        <div class="info">{% if userLab %}{{ userLab }}{% else %} No laboratory {% endif %}</div>
      </dd>
    
      <dt class="col-6 mb-3">Email adress</dt>
      <dd class="col-6">
        <textarea class="form-control edit-area" hidden rows="1">{{ user.email }}</textarea>
        <div class="info">{{ user.email }}</div>
      </dd>
 
    </dl>

    <div class="row justify-content-center">
      <div class="col-md-5 mb-2 d-flex justify-content-evenly">
              <button type="submit" class="btn btn-primary w-100 edit-buttons" id="editButton">Edit data</button>
              <button type="submit" class="btn btn-success edit-buttons" id="confirmButton" hidden><i class="bi bi-check-lg"></i></button>
              <button type="submit" class="btn btn-danger edit-buttons" id="cancelButton" hidden><i class="bi bi-x-lg"></i></button>
      </div>
      <div class="col-md-5 mb-2">
        <button type="button" class="btn btn-primary w-100" id="changePassword" data-bs-toggle="modal" data-bs-target="#passwordModal">Change password</button>
      </div>
    </div>
  </div>

    {% comment %} Lab locations personnalisation {% endcomment %}
  <div class="container mb-4">
      <h2 class="page-title">Laboratory {{ userLab }} locations</span></h1>
  </div>

  <div class="container col-lg-5">
    {% if not boxes %}
    <p class="text-center"><b>No Box to display</b></p>
    {% else %}
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Box</th>
          <th scope="col">Compounds</th>
          <th scope="col">Deletion</th>
        </tr>
      </thead>
      <tbody id="boxTable">
        {% for box in boxes %}
        <tr class="box-row" data-boxid="{{ box.id }}" data-boxcount="{{ box.products.count }}" data-boxname="{{ box.box_number }}">
          <th>{{ box.box_number }}</th>
          <td class="rowCount">{{ box.products.count }}</td>
          <td>
            <button class="btn p-0 text-danger delete-box">
            <i class="bi bi-trash"></i> Delete the box
            </button>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    {% endif %}

    <!-- Collapse for new box formular -->
    <div class="collapse my-2" id="collapseNewBoxForm">
      <div class="card card-body">
        <div class="row justify-content-center align-items-center">
          <div class="col-3 text-center">Name:</div>
          <div class="col-7"><input type="text" class="form-control" id="newBoxInput"></div>
          <div class="col-2">
            <button class="btn btn-success" id="newBoxSubmit" type="button"  data-bs-toggle="collapse" data-bs-target="#collapseNewBoxForm" aria-expanded="false" aria-controls="collapseNewBoxForm">
              <i class="bi bi-check-lg">
              </i>
            </button></div>
        </div>
      </div>
    </div>

    <div class="text-end">
      <button class="btn btn-primary" id="newLocationButton" type="button"  data-bs-toggle="collapse" data-bs-target="#collapseNewBoxForm" aria-expanded="false" aria-controls="collapseNewBoxForm">
        Add a new location
      </button>
    </div>

  </div>


    <!-- Modal for password change form -->
    <div class="modal fade" id="passwordModal" tabindex="-1" aria-labelledby="changePasswordModal" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="exampleModalLabel">Change password</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <div class="mb-2">
              <label for="old-password" class="col-form-label">Your current password:</label>
              <input type="password" class="form-control passwordInput" id="old-password">
            </div>
            <div class="mb-2">
              <label for="new-password" class="col-form-label">New password:</label>
              <input type="password" class="form-control passwordInput" id="new-password">
            </div>
            <div class="mb-2">
              <label for="confirmation-password" class="col-form-label">Confirm your new password:</label>
              <input type="password" class="form-control passwordInput" id="confirmation-password">
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary" id="submitPasswordButton">Change password</button>
          </div>
        </div>
      </div>
    
{% endblock %}

{% block script %}
<script type="module" src="{% static 'chemanager/account.js' %}"></script>
{% endblock %}