{% extends "chemanager/layout.html" %}
{% load static %}

{% block body %}
<div class="container mb-4">
    <h1 class="page-title">logged as <span id="usernameTitle">{{ user }}</span></h1>
</div>


  <div class="container col-lg-5">
    <dl class="row justify-content-center border border-primary p-2">
      
      <dt class="col-6">Username</dt>
      <dd class="col-6"> 
        <textarea class="form-control edit-area" hidden rows="1">{{ user }}</textarea> 
        <div class="info">{{ user }}</div>
      </dd>
    
      <dt class="col-6">Laboratory Number:</dt>
      <dd class="col-6">
        <select class="form-control edit-area" hidden>
          <option value="" {% if not lab %} selected {% endif %}>No laboratory</option>
          {% for lab in labs %}
          <option value="{{ lab.lab_number }}" {% if userLab == lab.lab_number %}selected{% endif %}>{{ lab.lab_number }}</option>
          {% endfor %}

        </select> 
        <div class="info">{% if userLab %}{{ userLab }}{% else %} No laboratory {% endif %}</div>
      </dd>
    
      <dt class="col-6">Email adress</dt>
      <dd class="col-6">
        <textarea class="form-control edit-area" hidden rows="1">{{ user.email }}</textarea>
        <div class="info">{{ user.email }}</div>
      </dd>
 
    </dl>

    <div class="row justify-content-center">
      <div class="col-md-5 mb-2 d-flex justify-content-evenly">
              <button type="submit" class="btn btn-primary w-100 edit-buttons" id="editButton">Edit data</button>
              <button type="submit" class="btn btn-success edit-buttons" id="confirmButton" hidden><i class="bi bi-check-lg"></i></button>
              <button type="submit" class="btn btn-danger edit-buttons" id="cancelButton" hidden><i class="bi bi-x-lg"></i></button>
      </div>
      <div class="col-md-5 mb-2">
        <button type="button" class="btn btn-primary w-100" id="changePassword" data-bs-toggle="modal" data-bs-target="#passwordModal">Change password</button>
      </div>
    </div>

    <!-- Modal for password change form -->
    <div class="modal fade" id="passwordModal" tabindex="-1" aria-labelledby="changePasswordModal" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="exampleModalLabel">Change password</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <div class="mb-2">
              <label for="old-password" class="col-form-label">Your current password:</label>
              <input type="password" class="form-control passwordInput" id="old-password">
            </div>
            <div class="mb-2">
              <label for="new-password" class="col-form-label">New password:</label>
              <input type="password" class="form-control passwordInput" id="new-password">
            </div>
            <div class="mb-2">
              <label for="confirmation-password" class="col-form-label">Confirm your new password:</label>
              <input type="password" class="form-control passwordInput" id="confirmation-password">
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary" id="submitPasswordButton">Change password</button>
          </div>
        </div>
      </div>
    </div>
  </div>

{% endblock %}

{% block script %}
<script type="module" src="{% static 'chemanager/account.js' %}"></script>
{% endblock %}