{% extends "chemanager/layout.html" %}
{% load static %}

{% block body %}
<div class="container">
    <h1 class="page-title">Site View</h1>
</div>

<div class="container stats align-items-center">
    <div class="row">

        <!-- Table section -->
        <div class="col-lg-6">
            <h2>Products per labs</h2>
            <table class="table table-hover">
                <thead>
                  <tr>
                    <th scope="col">Laboratory</th>
                    <th scope="col">Product count</th>
                  </tr>
                </thead>
                <tbody class="table-body">
                </tbody>
              </table>
        </div>

        <!-- Graph section -->
        <div class="col-lg-6 d-flex align-items-center justify-content-center">
            <canvas id="productChart" width="400" height="200"></canvas>
        </div>
    </div>
</div>


{% endblock %}

{% block script %}
<script>
  const laboratoryUrl = "{% url 'lab_id' 0 %}";
</script>
<script type="module" src="{% static 'chemanager/index.js' %}"></script>
{% endblock %}