{% extends "chemanager/layout.html" %}
{% load static %}

{% block body %}
<div class="container">
    <h1 class="page-title" data-labNumber="{{ labNumber }}">All Products</h1>
</div>

<!-- Displayed if no products to show -->
<div class="container">
    <div class="alert alert-primary no-product" role="alert" hidden>
        No product to display!
    </div>
</div>

<div class="container table-container">
    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">Product name <button class="btn p-0"><i class="bi bi-sort-alpha-down sort-name"></i></button></th>
                <th scope="col">CAS <button class="btn p-0"><i class="bi bi-sort-numeric-down sort-cas"></i></button></th>
                <th scope="col">Quantity <button class="btn p-0"><i class="bi bi-sort-numeric-down sort-qty"></i></button></th>
                <th scope="col">Purity <button class="btn p-0"><i class="bi bi-sort-numeric-down sort-purity"></i></button></th>
                <th scope="col">Location <button class="btn p-0"><i class="bi bi-sort-alpha-down sort-lab"></i></button></th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody class="table-body" data-myLab="{{ labId }}">
            <!-- Will contains all the products fetched from the API -->
        </tbody>
    </table>
</div>


{% endblock %}

{% block script %}
<!-- dynamicly generate url for each compounds for the detail -->
<script>
    const detailUrlTemplate = "{% url 'detail' 0 %}";
  </script>
<script type="module" src="{% static 'chemanager/inventory.js' %}"></script>
{% endblock %}