{% extends "chemanager/layout.html" %}
{% load static %}

{% block body %}
<div class="container">
    <h1 class="page-title">All Products</h1>
</div>

<!-- Displayed if no products to show -->
<div class="container">
    <div class="alert alert-primary no-product" role="alert" hidden>
        No product to display!
    </div>
</div>

<div class="container table-container">
    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">Product name</th>
                <th scope="col">CAS</th>
                <th scope="col">Quantity</th>
                <th scope="col">Purity</th>
                <th scope="col">Location</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody class="table-body" data-myLab="{{ labId }}">
            <!-- Will contains all the products fetched from the API -->
        </tbody>
    </table>
</div>


{% endblock %}

{% block script %}
<script type="module" src="{% static 'chemanager/inventory.js' %}"></script>
{% endblock %}